.investment{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 20vw;
    height: 3vw;
    background: blueviolet;
    border-radius: 5%;
    border: 2px yellow;
    cursor: pointer;
}

.investmentLogo{
    height: 3vw;
}