.flexBox{
  display: flex;
  flex-direction: row;
}

.flexLeft{
  display: flex;
  flex-direction: column;
  width: 33.33vw;
}

.flexCentral{
  display: flex;
  flex-direction: column;
  width: 33.33vw;
  justify-content: center;
  align-items: center;
}

.flexRight{
  display: flex;
  width: 33.33vw;
}

.shemsClick{
  width: 10vw;
  border-radius: 50%;
}
